# Python
*.py[co]

# Packages
*.egg-info/
build/
dist/

# Unit test / coverage reports
.coverage
cover/

# Generated documentation
docs/

# Project created files
infertweet.ini
web_log_queries*.txt
misclassified.txt
active-learning.txt
