body {
    background-color: darkgray;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.125em;
}

h1 {
    color: black;
}

footer {
    margin-top: 2em;
}

div#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

div#mainbody {
    background-color: #f3f3f3;
    padding: 2em 2em 1em 2.5em;
    height: 100%;
}

div#result{
    padding-top: 1em;
}

section#query h1{
    font-size: 1em;
    margin: 0;
    display: inline;
}

#results p {
    margin: 0;
}

#results h1 {
    font-size: 1em;
    margin: 0;
    display: inline;
}

input#query {
    font-size: 1.8em;
    width: 100%;
}
