<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}InferTweet{% end %}</title>
    <link rel=StyleSheet href="{{ static_url("style.css") }}" type="text/css"
          media=screen>
  </head>

  <body>
    <div id="wrapper">
      <div id="mainbody">
        <h1>{% block header %}InferTweet{% end %}</h1>
        {% block content %}{% end %}
        <footer>
          <small>
            Copyright &copy; 2013 Wesley Baugh.
          </small>
        </footer>
      </div>
    </div>
  </body>
</html>
