{% extends "base.html" %}

{% block title %}
InferTweet | Sentiment
{% end %}

{% block content %}
<form method="get">
  <input type="text" id="query" name="q" autofocus="autofocus"
         value="{{ query }}">
  <input type="submit" value="Estimate Tone">
</form>
<section id="query">
  <h1>Query:</h1>
  {{ query }}
</section>
<section id="results">
  {% for result in results %}
  {% if tweets %}
  {% set (tweet, features, label, probability) = result %}
  {% else %}
  {% set (text, features, label, probability) = result %}
  {% end %}
  <div id="result">
    <section>
      {% if tweets %}
      <h1>Tweet:</h1><br>
      <div class="result-tweet" style="background-color: {{ color_code(label, probability) }}">
        <blockquote class="twitter-tweet"><p>{{ tweet.text }}</p>&mdash; {{ tweet.from_user_name }}(@{{ tweet.from_user }}) <a href="https://twitter.com/{{ tweet.from_user }}/status/{{ tweet.id }}">{{  tweet.created_at }}</a></blockquote>
      </div>
      {% else %}
      <h1>Text:</h1>
      {{ text }}
      {% end %}
    </section>
    <section>
      <h1>Sentiment:</h1>
      <span style="color: {{ color_code(label, probability) }}">
        {{ label }}
      </span>
      ({{ '{:.2%}'.format(probability) }})
    </section>
    <section>
      <h1>Features:</h1><br>
      {% for (feature, f_label, f_prob) in features %}
      <span style="color: {{ color_code(f_label, f_prob) }}"
            title="{{ '{}: {:.2%}'.format(f_label, f_prob) }}">
        {{ feature }}
      </span>
      {% end %}
    </section>
  </div>
  {% end %}
</section>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% end %}
